<%= render Primer::BaseComponent.new(**@system_arguments) do %>
  <div class="SubHeader-leftPane">
    <%= render @filter_container do %>
      <%= filter_input %>
      <%= render @mobile_filter_cancel do
        I18n.t("button_cancel")
      end if @mobile_filter_cancel.present? %>
    <% end if filter_input.present? %>

    <%= render @mobile_filter_trigger if @mobile_filter_trigger.present? %>

    <%= render(@mobile_filter_button) if @mobile_filter_button.present? %>

    <%= filter_button %>

    <%= segmented_control %>

    <% if @segmented_control_block.present? %>
      <%= render(@mobile_segmented_control) do |control| %>
        <% @segmented_control_block.call(control) %>
      <% end %>
    <% end %>

    <% unless @left_actions.nil? %>
      <% @left_actions.each do |left_action| %>
        <%= render(left_action[:component]) do |action| %>
          <% left_action[:block]&.call(action) %>
        <% end %>
      <% end %>
    <% end %>

    <% if @left_text.present? %>
      <%= render(@left_text[:component]) do |text_component| %>
        <% @left_text[:block]&.call(text_component) %>
      <% end %>
    <% end %>
  </div>

  <div class="SubHeader-middlePane" data-targets="<%= HIDDEN_FILTER_TARGET_SELECTOR %>">
    <% unless @middle_actions.nil? %>
      <% @middle_actions.each do |middle_action| %>
        <%= render(middle_action[:component]) do |action| %>
          <% middle_action[:block]&.call(action) %>
        <% end %>
      <% end %>
    <% end %>
    
    <% if @middle_text.present? %>
      <%= render(@middle_text[:component]) do |text_component| %>
        <% @middle_text[:block]&.call(text_component) %>
      <% end %>
    <% end %>
  </div>

  <div class="SubHeader-rightPane" data-targets="<%= HIDDEN_FILTER_TARGET_SELECTOR %>">
    <% unless @right_actions.nil? %>
      <% @right_actions.each do |right_action| %>
        <%= render(right_action[:component]) do |action| %>
          <% right_action[:block]&.call(action) %>
        <% end %>
      <% end %>
    <% end %>

    <% if @right_text.present? %>
      <%= render(@right_text[:component]) do |text_component| %>
        <% @right_text[:block]&.call(text_component) %>
      <% end %>
    <% end %>

    <% @mobile_actions.each do |mobile_action| %>
      <%= render(mobile_action[:component]) do |action| %>
        <% mobile_action[:block].call(action) %>
      <% end %>
    <% end unless @mobile_actions.nil? %>
  </div>

  <% if bottom_pane_component.present? %>
    <div class="SubHeader-bottomPane">
      <%= bottom_pane_component %>
    </div>
  <% end %>
<% end %>
